[submodule "web-interface"]
	path = web-interface
	url = https://github.com/Coeus2016/visualizer-web-interface
	branch = develop
[submodule "visualizer-server"]
	path = visualizer-server
	url = https://github.com/Coeus2016/visualizer-server
	branch = develop
[submodule "documentation"]
	path = documentation
	url = https://github.com/Coeus2016/GeospatialDataProcessorVisualiser_documentation
	branch = develop
